@import 'reset.css';

* {
  box-sizing: border-box;
  font-size: 16px;
}

#container {
  background: #ccc;
  widows: 100%;
  padding: 1rem 1.25rem;
}

.header {
  display: flex;
  flex-direction: column;
}